<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${'Address: ' + person.getAddress()}">VALUE</p>
<p th:text="${person.getUserId()}">VALUE</p>

<a th:href="@{/people/{user_id}/edit(user_id=${person.getUserId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{user_id}(user_id=${person.getUserId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>